.vs
bin
Debug
*.dll

*.pdb
/DVLD-Data-Access/obj/Debug/DVLD-Data-Access.dll
/DVLD-Data-Access/obj/Debug/DVLD-Data-Access.pdb
/DVLD-Data-Access/bin/Debug/DVLD-Data-Access.pdb
/DVLD-Data-Access/bin/Debug/DVLD-Data-Access.dll
/DVLD-Buisness-Layer/obj/Debug/DVLD-Buisness-Layer.csproj.AssemblyReference.cache
/DVLD-Buisness-Layer/bin/Debug/DVLD-Data-Access.pdb
/DVLD-Buisness-Layer/bin/Debug/DVLD-Buisness-Layer.dll
/DVLD-Buisness-Layer/bin/Debug/DVLD-Buisness-Layer.pdb
/DVLD-Buisness-Layer/obj/Debug/DVLD-Buisness-Layer.dll
/DVLD-Buisness-Layer/obj/Debug/DVLD-Buisness-Layer.pdb
C:\Users\Hp\Desktop\bureau yahya\programming adv\corse 19 full project\DVLD My Solution\DVLD Project Final\DVLD\App.config
/DVLD/App.config
